  /* logo-setup */

  .logo-desktop {
    display:none;
  }

  @media only screen and (min-width: 750px){
      .logo-desktop{
        display: block;
      }
      .logo-mobile{
        display:none
      }
  }
